---
title: Обновить пароль
inputs:
  - name: oldPassword
    title: Старый пароль
    type: password
  - name: newPassword
    title: Новый пароль
    type: password
buttons:
  - type: submit
    text: Сохранить изменения
  - type: button
    text: Вернуться к настройкам
    link: /pages/profile.hbs
stylesheets:
  - /partials/form.scss
---
{{!< html}}
<main>
{{> form}}
</main>
