---
stylesheets:
  - ./index.scss
---

{{!< html}}

<main class="index">
  <nav class="index__nav">
    <ul class="index__list">
      <li class="index__item">
        <a class="index__link" href="./pages/signin.hbs"> Авторизация </a>
      </li>
      <li class="index__item">
        <a class="index__link" href="./pages/signup.hbs"> Регистрация </a>
      </li>
      <li class="index__item">
        <a class="index__link" href="./pages/chats.hbs"> Список чатов </a>
      </li>
      <li class="index__item">
        <a class="index__link" href="./pages/profile.hbs"> Настройки профиля </a>
      </li>
      <li class="index__item">
        <a class="index__link" href="./pages/not-found.hbs"> Страница 404 </a>
      </li>
      <li class="index__item">
        <a class="index__link" href="./pages/server-error.hbs"> Страница 5** </a>
      </li>
    </ul>
  </nav>
</main>
